body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #1bcfff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background: #1bcfff;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.explainer {
    font-size: 1.1em;
    margin: 20px auto;
    line-height: 1.5;
    color: #ddd;
    max-width: 600px;
    padding: 0 20px;
    text-align: center;
}

#features {
    padding: 40px 0;
    background: #fff;
    text-align: center;
}

#features h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style-type: none; /* Remove list markers */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carousel-slide img {
    max-width: 80%; /* Scale down the image size */
    max-height: 500px; /* Limit the height */
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: contain; /* Ensure the image scales nicely */
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.carousel-btn-left {
    left: 10px;
}

.carousel-btn-right {
    right: 10px;
}

#download {
    padding: 40px 0;
    background: #333;
    color: #fff;
    text-align: center;
}

#download h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#download p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer {
    background: #444;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
