body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #1bcfff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background: #1bcfff;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.explainer {
    font-size: 1.1em;
    margin: 20px auto; /* Center the text block and add vertical spacing */
    line-height: 1.5;
    color: #ddd;
    max-width: 600px; /* Limit the width of the text block */
    padding: 0 20px; /* Add padding to the left and right */
    text-align: center; /* Center-align the text */
}

#features {
    padding: 40px 0;
    background: #fff;
    text-align: center;
}

#features h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.features-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-item {
    flex: 1;
    margin: 0 10px;
    background: #eaeaea;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px; /* Space between items when stacked */
}

.feature-item img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.feature-item img:hover {
    transform: scale(1.05);
}

#download {
    padding: 40px 0;
    background: #333;
    color: #fff;
    text-align: center;
}

#download h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#download p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer {
    background: #444;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .features-grid {
        flex-direction: column; /* Stack the items vertically */
    }

    .feature-item img {
        max-width: 100%;
    }
}